<ion-header>
  <ion-toolbar>
    <div class="titulo">
      <ion-title> Detalhes da Plantinha </ion-title>
      <ion-icon (click)="fecharDetalhe()" name="close-circle-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<div class="vitrine">
  <ion-card class="itemCompra">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjGu9i5s-KtD3Yh1KfLMyfUAPxJ4gq6CNcg7m7t7kf0iB6gWJE&usqp=CAU" />
    <ion-card-header class="itemHeader">
      <ion-card-subtitle class="nomeProduto">nome</ion-card-subtitle>
      <ion-card-title class="precoProduto">preco</ion-card-title>
      
    </ion-card-header>
  </ion-card>
</div>