<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<!-- <ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-title class="titulo">Buques</ion-title>
      <ion-icon class="carrinhoIcone"  (click)="resumoFavorito()" name="heart-sharp"></ion-icon> 
     <ion-badge *ngIf="favorito.numeroDeFavoritos()"color="primary">{{ favorito.numeroDeFavoritos()}}</ion-badge> -->
      <!-- <ion-icon class="carrinhoIcone" (click)="resumoCompra()"  name="cart-outline"></ion-icon> 
      <ion-badge *ngIf="carrinho.numeroDeProdutos()"color="primary">{{ carrinho.numeroDeProdutos()}}</ion-badge>
    </div>
  </ion-toolbar>
</ion-header> --> 